<h1> Student Information </h1>
  <%= @student["first_name"] %>
  <%= @student["last_name"] %>
  <%= @student["email_name"] %>
  <%= @student["phone_number"] %>
  <%= @student["short_bio"] %>
  <img src="<%= @student["photo"] %>" class="img-rounded" alt="Cinque Terre" width="95" height="90">
  <%= @student["twitter_handle"] %>
  <%= @student["blog_url"] %>
  <%= @student["resume_url"] %>

