<h1> Student Information </h1>

<li>First Name: <%=@food.first_name %></li>
<li>Last Name: <%=@food.last_name %></li>
<li>Email: <%=@food.email %></li>
<li>Phone Number: <%=@food.phone_number %></li>
<li>Short Bio: <%=@food.short_bio %></li>
<li>LinkedIn Url: <%=@food.linkedin_url %></li>
<li>Twitter Handle: <%=@food.twitter_handle %></li>
<li>Blog Url: <%=@food.blog_url %></li>
<li>Resume Url: <%=@food.resume_url %></li>
<li>Github Url: <%=@food.github_url %></li>
<li>Photo: <%=@food.photo %></li>